/*================================================================ style 2 ===================================================================*/

.option {
    background-color:#2ece47;
}
.title-icon {
    color: #2ece47;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #2ece47;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #2ece47 !important;
}
.navbar-nav a.active.small {
    color: #2ece47  !important;
}
.carousel-indicators .active {
    background-color: #2ece47;
    border-color: #2ece47;
}
.carousel-control:hover {
    color: #2ece47;
}
.home-text h3 {
    color: #2ece47;
}
.home-contact1 {
    background-color: #2ece47;
    border: 1px solid #2ece47;
}
.about-details h3 {
    color: #2ece47;
}
.about-details a {
    background-color: #2ece47;
    border: 1px solid #2ece47;
}
.stat-icon {
    color: #2ece47;
}
.menu-title h3 {
    color: #2ece47;
}
.about-indicators .active {
    background: #2ece47;
}
.special-menu-details h3 {
    color: #2ece47;
}
.learn-more {
    background-color: #2ece47;
    border: 1px solid #2ece47;
}
.media-body h2 span {
    color: #2ece47;
}
.gallery-title h3 {
    color: #2ece47;
}
.overlay {
    background-color: #2ece47;
}
#filters li span.active {
    background: #2ece47;
}
.fancybox-skin {
    background: #2ece47;
}
.service-title h3 {
    color: #2ece47;
}
.service-media-body h3{
    color: #2ece47;
}
.cheff-title h3 {
    color: #2ece47;
}
.cheff-details h3 {
    color: #2ece47;
}
.cheff-social li a:hover {
    color: #2ece47;
}
.message-client h3 {
    color: #2ece47;
}
.message-client a {
    background-color: #2ece47;
    border: 1px solid #2ece47;
}
.testimonial-title h3 {
    color: #2ece47;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
    background-color: #2ece47;
}
.item blockquote p span {
    color: #2ece47;
}
.contact-title h3 {
    color: #2ece47;
}
.btn-success.disabled {
    background-color: #2ece47;
    border-color: #2ece47;
}
.btn.disabled:hover{
    background-color: #2ece47;
    border-color: #2ece47;
}
.btn-success:hover{
    background-color: #2ece47;
    border-color: #2ece47;
}
.btn-success {
    background-color: #2ece47;
    border-color: #2ece47;
}
.contact-col h3 {
    color: #2ece47;
}